<div class="card">
  <div class="card-header">
    <h3 style="color:navy;text-align:center">Why Pick My Solar ...?</h3>
  </div>
</div>
<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>

    <h1>Less Time</h1>
    <p>Get multiple quotes in one place , instead of negotiating with each installer.</p>
  </section>
  <section>
    <h1>More Savings</h1>
    <p>Our network of approved installers compete for your project, giving you the best price.</p>
  </section>
  <section>
    <h1>100% Online</h1>
    <p>Our online tools willl allow you to compare and select the offer that best fits you.</p>
  </section>
</div>
